<DOCTYPE !HTML>

<html>

<head>
<h> Prova di stampa </h>
</br>

</head>

<body>

<p1> Hai digitato la citta <%=nomeCitta %> </p1>


<table>
<tr> 
<td> <image id="img1" src= <%=imgs[0] %>  >
<td> <image id="img2" src= <%=imgs[1] %>  >
<tr>
<td> <image id="img3" src= <%=imgs[2] %>  >
<td> <image id="img4" src= <%=imgs[3] %>  >




</body>


</html>
